<div class="col-md-9 col-lg-6 col-xl-5">
  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
    class="img-fluid" alt="Sample image">
</div> 
<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="divider d-flex align-items-center my-4">
      <h2 class="text-center fw-bold mx-3 mb-0">Change your password</h2>
    </div>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-outline mb-4">
      <%= f.password_field :password, autofocus: true, class: "form-control form-control-lg", placeholder: "Enter Password" %>
      <label class="form-label" for="form3Example3">Password</label>
    </div>

    <div class="form-outline mb-4">
      <%= f.password_field :password_confirmation, autofocus: true, class: "form-control form-control-lg", placeholder: "Enter Password Confirmation" %>
      <label class="form-label" for="form3Example3">Password Confirmation</label>
    </div>
    <div class="text-center text-lg-start mt-4 pt-2">
      <%= f.submit "Change Password", class: "btn btn-primary btn-lg",
        html: {style: "padding-left: 2.5rem; padding-right: 2.5rem;"} %>
    </div>
  <% end %>
</div>
